<head>
    <title> 2u_log </title>
</head>
<body>
    {% if user.is_active %}
    <p> 이유빈 {{user.username}} {{user.nickname}} <a href="{% url 'logout'%}">logout</a></p>
    {% else %}
    <p> 이유빈 <a href="{% url 'accounts:signup'%}">signup</a>
        <a href="{% url 'login'%}">login</a> </p>
    {% endif %}

    {% for post in posts.all %}
        <div class="container">
            <h2><a href="{% url 'detail' post.id %}"> {{post.title|truncatechars_html:6}} </a> </h2>
        </div>
    {% endfor %}
    <a href="{% url 'new' %}" class="bottom-menu">글쓰기</a>
</body>